// Custom styles.
body { 
//	background-image: url(https://okwl1c157.bkt.clouddn.com/background.jpg);
	background-image: url(/images/background.png);
	background-attachment: fixed;
	background-repeat: repeat;
//	background-clip: content-box;
	background-size: contain;
}
 